@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<br/><br/>
<p>
    Name: @person.SalesPerson
</p>
<p>
    Amount: @person.Amount.ToString("c")
</p>
<p>
    <input type="number" @bind="person.Amount" @bind:event="oninput"/>
</p>
<p>
    <label>
        <input type="checkbox" @bind-value="person.isActive" @bind-value:event="oninput" />
        Is Active
    </label>
    <br/>
    Is Active: @person.isActive
</p>
<p>
    Choose:
    <label>
        <input type="radio" value="1" name="group" checked="@(selectedGroup == 1)" @onclick="(()=>selectedGroup = 1)" /> 1
        <input type="radio" value="2" name="group" checked="@(selectedGroup == 2)" @onclick="(()=>selectedGroup = 2)" /> 2
    </label>
    <br />
    Select Group: @selectedGroup
</p>
<p>
    <select @bind="selectedLocationId">
        <option value="0"></option>
        @foreach (var loc in person.Locations)
            {
                <option value="@loc.Id">@loc.City</option>
            }
    </select>
    Your choosen ID: @selectedLocationId
</p>
<p>
    List Location:
    <ul>
        @foreach (var loc in person.Locations)
            {
                <li>City: @loc.City - Provine: @loc.ProvState - Country: @loc.Country</li>
            }
    </ul>
</p>
<p>
    Table: <br/>
    <table class="table">
        @foreach (var loc in person.Locations)
        {
            <tr>
                <td>@loc.Id</td>
                <td><input type="text" class="form-control" @bind="@loc.City" @bind:event="oninput"/></td>
                <td>@loc.ProvState</td>
                <td>@loc.Country</td>
            </tr>
        }
    </table>
</p>

<SurveyPrompt Title="How is Blazor working for you?" />

@code {   
    IndexViewModel person = null;
    int selectedGroup = 1;
    int selectedLocationId = 0;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        person = new IndexViewModel
        {
            SalesPerson = "Nam",
            Amount = 96000,
            Locations = new List<Location>
            {
                new Location { Id = 1, City = "Binh Duong", ProvState = "Thu Dau Mot", Country = "Viet Nam"},
                new Location { Id = 2, City = "Ho Chi Minh", ProvState = "Quan 8", Country = "Viet Nam"}
            }
        };
    }

    #region "View Model"

    class IndexViewModel
    {
        public string SalesPerson { get; set; }
        public double Amount { get; set; }
        public bool isActive { get; set; }
        public List<Location> Locations;
    }

    class Location
    {
        public int Id { get; set; }
        public string City { get; set; }
        public string ProvState { get; set; }
        public string Country { get; set; }
    }

    #endregion
}